*{
	margin-top:0px;
}
header{
	display:flex;
	justify-content: space-between;
 padding-left: 30px;
 margin-top:10px; 
}
a{
	padding-right: 30px;
	text-decoration: none;
  margin-top:10px;
  color:black;
}
button{
	background-color: orange;
	border: none;
	margin-bottom: 5px;

}
section{
	justify-content:space-around;
	display: flex;

}
#main{
justify-content: space-around;
display: flex;
margin-right:2px; 
text-align: left;
}
button{
	align-items: center;
	background-color: blue;
	color:white;
}
.pp{
 border-width:2px;
 border-style: solid;
 border-image:linear-gradient( to right,purple,blue);
 margin-left: 200px;
 border-right: none;
 border-left:none;
 border-bottom:none;
}